analysis = '''
This benchmark, illustrates
the same principle as the monster regexes, where the
performance of the engine does not degrade at the rate of other
engines, but using intersections to keep the state space of the
automaton small. The rest of the engines are using alternations.
While re2 and rust/regex are able to handle the pattern up
to 8 characters, both of the engines hit a wall at 9 characters, where
the performance of the engines drops significantly. The performance of
Hyperscan is also dropping at 9 characters, but it stops accepting the
pattern at 10 characters. The performance of resharp is still
reasonable at 15 characters and above, and the throughput of the
engine is still in the hundreds of MB/s.  Without intersections,
the performance of resharp would also hit a wall soon after the others,
as the state space of the automaton would grow at an exponential rate,
but the intersections are able to keep the state space of the
automaton small, and the performance of the engine high.
'''

[[bench]]
model = "count-spans"
name = "len-4"
regex = { path = "resharp/passwords-len-4.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = 'hyperscan', count = 4224 },
    { engine = '.*', count = 3152 },
]
engines = [
    'hyperscan',
    'dotnet/compiled',
    'go/regexp', 
    'pcre2', # pattern too large
    'pcre2/jit',
    'resharp', 
    'java/hotspot',
    'javascript/v8',
    'perl',
    'python/re',
    'python/regex',
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-5"
regex = { path = "resharp/passwords-len-5.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = 'hyperscan', count = 12545 },
    { engine = '.*', count = 7015 },
]
engines = [
    'hyperscan',
    'dotnet/compiled',
    'go/regexp', 
    'pcre2', # pattern too large
    'pcre2/jit',
    'resharp',
    'java/hotspot',
    'javascript/v8',
    'perl',
    'python/re',
    'python/regex',
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-6"
regex = { path = "resharp/passwords-len-6.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = 'hyperscan', count = 26934 },
    { engine = '.*', count = 12342 },
]
engines = [
    'hyperscan',
    'dotnet/compiled',
    'go/regexp', 
    # 'pcre2', # timeout
    'pcre2/jit',
    'resharp',
    'java/hotspot',
    'javascript/v8',
    'perl',
    'python/re',
    'python/regex',
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-7"
regex = { path = "resharp/passwords-len-7.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = 'hyperscan', count = 49154 },
    { engine = '.*', count = 19110 },
]
engines = [
    'hyperscan',
    'dotnet/compiled',
    # 'go/regexp', # timeout
    # 'pcre2', # timeout
    'pcre2/jit',
    'resharp',
    'java/hotspot',
    'javascript/v8',
    'perl',
    'python/re',
    # 'python/regex', # timeout
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-8"
regex = { path = "resharp/passwords-len-8.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = 'hyperscan', count = 80184 },
    { engine = '.*', count = 27224 },
]
engines = [
    'hyperscan',
    'dotnet/compiled',
    # 'go/regexp',  # timeout
    # 'pcre2',  # timeout
    'pcre2/jit',
    'resharp',
    'java/hotspot',
    'javascript/v8',
    'perl',
    # 'python/re', # timeout
    # 'python/regex', # timeout
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''


[[bench]]
model = "count-spans"
name = "len-9"
regex = { path = "resharp/passwords-len-9.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = 'hyperscan', count = 121644 },
    { engine = '.*', count = 36864 },
]
engines = [
    'hyperscan',
    # 'dotnet/compiled', # timeout
    # # 'go/regexp', # timeout
    # 'pcre2', # timeout
    'pcre2/jit',
    'resharp',
    'java/hotspot',
    'javascript/v8',
    'perl',
    # 'python/re', # timeout
    # 'python/regex', # timeout
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-10"
regex = { path = "resharp/passwords-len-10.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = '.*', count = 46780 },
]
engines = [
    # 'hyperscan', # rejects pattern
    # 'dotnet/compiled', timeout
    # 'go/regexp', # timeout
    # 'pcre2', # pattern too large
    # 'pcre2/jit', # pattern too large
    'resharp',
    'java/hotspot',
    'javascript/v8',
    # 'perl', # timeout
    # 'python/re', # timeout
    # 'python/regex', # timeout
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-11"
regex = { path = "resharp/passwords-len-11.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = '.*', count = 57145 },
]
engines = [
    # 'dotnet/compiled',
    'resharp',
    # 'java/hotspot',
    # 'javascript/v8',
    # 'perl',
    're2',
    'regress',
    'rust/regex',
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-12"
regex = { path = "resharp/passwords-len-12.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = '.*', count = 67944 },
]
engines = [
    'resharp',
    're2',
    'regress',
    # 'rust/regex', # timeout
]
analysis = '''
'''

[[bench]]
model = "count-spans"
name = "len-13"
regex = { path = "resharp/passwords-len-13.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = '.*', count = 79040 },
]
engines = [
    'resharp',
    're2',
    'regress',
    # 'rust/regex',
]
analysis = '''
'''


[[bench]]
model = "count-spans"
name = "len-14"
regex = { path = "resharp/passwords-len-14.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = '.*', count = 89978 },
]
engines = [
    'resharp',
    # 're2',
    # 'regress',
    # 'rust/regex',
]
analysis = '''
'''


[[bench]]
model = "count-spans"
name = "len-15"
regex = { path = "resharp/passwords-len-15.txt" }
haystack = { path = "resharp/passwords-hidden.txt" }
count = [
    { engine = '.*', count = 101445 },
]
engines = [
    'resharp',
    # 're2',
    # 'regress',
    # 'rust/regex',
]
analysis = '''
'''



# [[bench]]
# model = "count-spans-extended-syntax"
# name = "password-candidates-not-d"
# regex = '.{6,12}&.*a.*&.*b.*&.*c.*&~(.*d.*)'
#
# haystack = { path = "imported/rsc/1MB.txt" }
# count = [
#     { engine = '.*', count = 56944 },
# ]
# engines = [
#     'resharp',
# ]
# analysis = '''
# assuming a password must have 'a' 'b' and 'c' with length .{6,12}, this finds 
# all passwords in a file full of random characters, while excluding those with 'd'
# '''


# [[bench]]
# model = "count-spans-extended-syntax"
# name = "password-candidates-d-implies-e"
# regex = '(.*d.*→.*e.*)&.{6,12}&.*a.*&.*b.*&.*c.*'
#
# haystack = { path = "imported/rsc/1MB.txt" }
# count = [
#     { engine = '.*', count = 61535 },
# ]
# engines = [
#     'resharp',
# ]
# analysis = '''
# this benchmark uses implication `(.*d.*→.*e.*)`, which means that if 'd' is present, 'e' must be present
# '''

# [[bench]]
# model = "count-spans-extended-syntax"
# name = "password-candidates-starts-a-implies-ends-b"
# regex = '(a.*→.*b)&.{6,12}&.*a.*&.*b.*&.*c.*'
#
# haystack = { path = "imported/rsc/1MB.txt" }
# count = [
#     { engine = '.*', count = 67826 },
# ]
# engines = [
#     'resharp',
# ]
# analysis = '''
# this benchmark uses implication (a.*→.*b), which means that if it starts with a, it must end with b
# '''

# [[bench]]
# model = "count-spans-extended-syntax"
# name = "two-password-candidates-same-line"
# regex = '(.*(.{6,12}&.*a.*&.*b.*&.*c.*).*){2,}'
#
# haystack = { path = "imported/rsc/1MB.txt" }
# count = [
#     { engine = '.*', count = 32906 },
# ]
# engines = [
#     'resharp',
# ]
# analysis = '''
# all lines containing two or more password candidates
# '''

# [[bench]]
# model = "count-spans-extended-syntax"
# name = "line-without-password-candidate"
# regex = '^.*$&~(.*(.{6,12}&.*a.*&.*b.*&.*c.*).*)'
#
# haystack = { path = "imported/rsc/1MB.txt" }
# count = [
#     { engine = '.*', count = 771341 },
# ]
# engines = [
#     'resharp',
# ]
# analysis = '''
# all lines without password candidates
# '''

# # [[bench]]
# # model = "count-spans-extended-syntax"
# # name = "10-lines-without-password-candidates"
# # regex = '^(.*(\n.*){9})$&~(.*(.{6,12}&.*a.*&.*b.*&.*c.*).*)'
# #
# # haystack = { path = "imported/rsc/1MB.txt" }
# # count = [
# #     { engine = '.*', count = 1043515 },
# # ]
# # engines = [
# #     'resharp',
# # ]
# # analysis = '''
# # 10 sequential lines containing no password candidates
# # '''

# # [[bench]]
# # model = "count-spans-extended-syntax"
# # name = "password-candidates-followed-by-abc"
# # regex = '_*(?=abc)&(.*(.{6,12}&.*a.*&.*b.*&.*c.*).*)'
# #
# # haystack = { path = "imported/rsc/1MB.txt" }
# # count = [
# #     { engine = '.*', count = 317 },
# # ]
# # engines = [
# #     'resharp',
# # ]
# # analysis = '''
# # all password candidates followed by 'abc'
# # '''




